*{
  padding: 0;
  margin: 0;
  color: black;
}

ul,li{
  list-style: none;
}

a{
  text-decoration: none;
}

header{
  display: grid;
  padding:0 29vw;
  grid-template-columns: 90% 1fr 1fr; 
  margin: 1em 0;
  z-index: 1;  
}


header #logo{
  display: grid;
  place-items: center;
  color: black;
  font-size: 1.7vw;
  font-weight: bold;
  font-family:'Pacifico', cursive;  
  z-index: 1;  
}

header ul{
  z-index: 1;  
}

@media (max-width:1024px) {
  header ul{
    display: none;
  }
}

header ul{
  display: flex;
  align-items: center;
}

header button {
  width: 1.3vw;
  height: 1.3vw;
  border: 1px solid #000;
  cursor: pointer;
}

header button:hover {
  background-color: #DDEBFC;
}

header button:active {
  background-color: #FFF;
}

header ul .search button{
  background: url(../images/search.png) no-repeat center/50%;
}

header ul .login button{
  background: url(../images/user.png) no-repeat center/50%;
}

#slogan {
  position: relative;
  padding-top: 10vw;
  border-bottom: 1px solid #889;
  background-color: #FFF;
}

#slogan img {
  position: absolute;
  padding:0 28vw;
  top: -3vw;
  left: 48%;
  transform: translate3d(-50%, 0, 0);
  width: 18vw;
}

#slogan .title{
  position: relative;
  padding: 0 28vw;
  border-top: 1px solid #000;
  background-color: #4593FC;
  z-index: 1;
}

#slogan h2, h2 strong {
  font-size: 2vw;
  line-height: 3.3vw;
}

.content .contents{
  display: grid;
  grid-template-columns: repeat(4,14em);
  grid-template-rows: repeat(3,1fr); 
  padding:0 28vw 2vw;

}

.contents .card{
  padding:0.5vw 0.5vw ;
  border: 1px solid rgb(39, 38, 38);
}

.card h2{
  font-size: 1em;
  margin-bottom: 0.7vw;
  z-index: 1;  
}

.card .text{
  font-size: 0.9em;
  margin-bottom: 10em;
}

.card .time{
  display: inline-block;
  font-size: 0.4vw;
}

.card .emotion{
  display: inline-block;
  float: right;
  font-size: 0.4vw;
}

.content .more{
  display: flex;
  justify-content: center;
  
  margin-bottom: 20vh;
}

.more .plus{  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 9vw;
  width: 6vw;
  height: 3vh;
  color: white;
  border-radius: 3vh;
  border-style: solid;
  border-color:#4593FC;
  background-color: #4593FC;
}

.more .plus:hover{
  background-color: #FFF;
  color: black;
}
